@use "./../../assets/sass/variables" as *;
@use "./../../assets/sass/mixins" as *;

.search-box {
  margin: 50px 0 30px 0;

  &__input {
    border: none;
    border-bottom: 2px solid $color-secondary;
    outline: none;
    width: 100%;
    background: transparent;
    color: $color-white;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    text-align: left;

    &::placeholder {
      color: $color-white;
      letter-spacing: 0.5px;
      font-weight: bold;
    }
  }
}
