@use "./../../assets/sass/variables" as *;
@use "./../../assets/sass/mixins" as *;

.card-list {
  max-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 275px);
  grid-gap: 25px;
  justify-content: space-around;
  margin-left: 355px;

  @include respond(tablet) {
  }

  @include respond(mobile) {
    margin: 0;
  }
}
