@use "../../assets/scss/_variables.scss" as *;
@use "../../assets/scss/_resets.scss";
@use "../../assets/scss/_font.scss";

.card-list {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 50px;
  justify-content: space-around;
  margin-left: 20vw;
  min-height: 100%;

  .card {
    margin: auto;
    height: 500px;
    width: 300px;
    text-align: center;
  }
}
