@use "./../../assets/sass/variables" as *;
@use "./../../assets/sass/mixins" as *;

.card {
  padding: 20px;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.3s;

  &__img {
    height: 250px;
    display: block;
    margin: auto;
  }

  &__name {
    font-size: 24px;
    margin: 8px auto;
  }

  &__abv {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    cursor: pointer;
  }
}
