@use "./../../assets/sass/variables" as *;
@use "./../../assets/sass/mixins" as *;

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 350px;
  height: 100vh;
  background-color: $color-primary;
  padding: 10px;

  @include respond(tablet) {
  }

  @include respond(mobile) {
    display: none;
  }

  &__logo {
    display: flex;
    justify-content: center;
    height: 250px;
  }
}
