@use "../../assets/scss/_variables.scss" as *;
@use "../../assets/scss/_resets.scss";

.navbar {
  margin: 10px;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow: auto;
  border: 2px solid $color-primary;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
